.course-type {
    padding-top: 20px;
    position: relative;

    &::after {
        content: url("../../assets/images/ui/rocket.png");
        position: absolute;
        top: -40px;
        right: -50px;
    }

    &::before {
        height: 750px;
        width: 500px;
        content: "";
        background-image: url("../../assets/images/effects/lavender-eff.png");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: -80px;
        top: -50px;
    }

    &__title {
        max-width: 770px;
        margin: 0 auto;
        font-weight: 700;
        font-size: 87px;
        line-height: 110%;
        text-align: center;
        text-transform: capitalize;
        color: #F3F3F3;
        margin-bottom: 50px;
    }

    &__list {
        height: 440px;
        display: flex;
        gap: 20px;
    }

    &__list-item {
        min-height: 300px;
        align-self: flex-start;
        padding: 40px 15px 75px;
        background: conic-gradient(from 180deg at 50% 50%, #AE43C4 -67.5deg, rgba(196, 112, 213, 0.3) 142.5deg, #AE43C4 292.5deg, rgba(196, 112, 213, 0.3) 502.5deg);
        box-shadow: 0px 10px 75px rgba(157, 66, 179, 0.5);
        border-radius: 42px;
        position: relative;
        z-index: 1;

        &:nth-child(even) {
            align-self: flex-end;
        }
    }

    &__name {
        text-align: center;
        margin-bottom: 25px;

        strong {
            font-size: 32px;
            line-height: 33px;
            text-align: center;
            color: #F3F3F3;
        }
    }

    &__text {
        font-size: $text-lg;
        line-height: 33px;
        color: #C1C1C1;
    }

}