// COLORS
$ceil-c: #18216D;
$white-c: #fff;
$black-c: #000000;
$primary-c: #010922;
$light-ceil-c: #8D8DDB;
$crayola-c: #7676d1;

// FONT SIZE
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 22px;
$text-2xl: 24px;
$text-3xl: 28px;
$text-4xl: 36px;
$text-5xl: 48px;

// GRADIENT & BOX-SHADOW

$cc-gradient: linear-gradient(180deg, rgba(219, 42, 255, 0.8) 0%, rgba(56, 3, 143, 0.5) 74.06%, rgba(0, 0, 0, 0.8) 105.92%);
$cc-shadow: 0px 10px 75px rgba(149, 38, 179, 0.25);