// COLORS
$ceil-c: #18216D;
$white-c: #fff;
$black-c: #000000;
$primary-c: #010922;

// FONT SIZE
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 22px;
$text-2xl: 24px;
$text-3xl: 28px;
$text-4xl: 36px;
$text-5xl: 48px;